<h1>Play#score</h1>

******** Now your result ******** <br>

Your word: <%= @guess %> <br>
Time taken to answer: <%=@result[:time]%> <br>
Translation: <%=@result[:translation]%> <br>
Your score: <%=@result[:score]%> <br>
Message: <%=@result[:message]%> <br>

*****************************************************
